* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
}

.resize {
  padding: 8px 16px;
  font-size: x-large;
  margin-bottom: 16px;
}

.container {
  width: 960px;
  background: rgb(164, 229, 255);
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  flex: auto;
  border: 1px solid rgb(215, 231, 242);
  background: rgb(234, 252, 255);
}
